# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
/build/

# Flutter web build/cache
web/.dart_tool/
web/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio captures
/captures/

# Generated plugin registrant
lib/generated_plugin_registrant.dart
